
<link href="https://getbootstrap.com/docs/3.3/examples/signin/signin.css" rel="stylesheet">

<h1>Bienvenido a Bao Fu</h1>

<form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Iniciar sesion</h2>

    <label for="username" class="sr-only">Nombre de usuario</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required autofocus>
    <label for="password" class="sr-only">Contraseña</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" >Iniciar sesion</button>
    <div class="checkbox">
        <label>
            <a class="navbar-brand" href="{% url 'signup' %}">Registrarse</a>
        </label>
    </div>
</form>

